@model MvcApplication2.CUSTODIAN

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CUSTODIAN</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FName)
            @Html.ValidationMessageFor(model => model.FName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LName)
            @Html.ValidationMessageFor(model => model.LName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfEmployment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOfEmployment)
            @Html.ValidationMessageFor(model => model.DateOfEmployment)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HourlyPay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HourlyPay)
            @Html.ValidationMessageFor(model => model.HourlyPay)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumberOfYearsEmployed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumberOfYearsEmployed)
            @Html.ValidationMessageFor(model => model.NumberOfYearsEmployed)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FMName, "FARMERS_MARKET")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FMName", String.Empty)
            @Html.ValidationMessageFor(model => model.FMName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProprietorId, "PROPIETOR")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProprietorId", String.Empty)
            @Html.ValidationMessageFor(model => model.ProprietorId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
